span {
	margin-top: 16px;
}

mat-form-field {
	margin-bottom: 16px;
}

mat-accordion {
	margin-top: 16px;
}

.button-margin-bottom {
	margin-bottom: 16px;
}

.form-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.loading-shade {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 32px;
}
