@import '~@angular/material/theming';

@include mat-core();

$m2-app-primary: mat-palette($mat-light-blue, 500);
$m2-app-accent: mat-palette($mat-brown, 300);
$m2-app-warn: mat-palette($mat-red, 500);

$m2-app-theme: mat-light-theme($m2-app-primary, $m2-app-accent, $m2-app-warn);

@include angular-material-theme($m2-app-theme);
