@import '~@angular/material/theming';

@include mat-core();

$m2-app-primary: mat-palette($mat-light-blue, A700);
$m2-app-accent: mat-palette($mat-amber);

$m2-app-theme: mat-light-theme($m2-app-primary, $m2-app-accent);

@include angular-material-theme($m2-app-theme);
