.drop-zone-container {
	margin: 16px;
}

.drop-zone {
	height: 200px;
	background-color: #F5F5F5;
	border: 1px dotted #BBB;
	border-radius: 2px;
	color: #888;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.file-over-event {
	border: 5px dotted #0091EA;
	border-radius: 2px;
}

mat-divider {
	margin-top: 16px;
	margin-bottom: 16px;
}

.upload-table {
	width: 100%;
	text-align: left;
	border: 0;
	border-collapse: collapse;
	table-layout: fixed;
}
.upload-table th, td {
	border-bottom: 1px solid #E0E0E0;
	word-wrap: break-word;
}

.upload-table tbody > tr:hover {
	background-color: #EEE;
}

.upload-table th {
	color: #757575;
	height: 32px;
}

.upload-table td {
	color: #212121;
}
