mat-toolbar {
	background-color: #FFF;
}

mat-toolbar > button {
	margin-right: 16px;
}

#search-form {
	display: flex;
	align-items: center;
	border: 1px solid #F5F5F5;
	border-radius: 3px;
	background-color: #F5F5F5;
}

#search-form > input {
	background-color: transparent;
	border: none;
	padding: 6px;
	font-size: 16px;
}

#search-form > input:focus {
	outline: none;
	width: 300px;
}

#search-form > a {
	padding-top: 7px;
	margin-right: 6px;
}

#search-form > a:hover {
	cursor: pointer;
}
