.main-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #F5F5F5;
}

.sidenav {
	background-color: #0091EA;
}

.sidenav a {
	width: 100%;
	text-align: left;
	color: #FFF;
}

.title-container {
	text-align: center;
	padding-top: 16px;
	background-color: #0277BD;
	height: 48px;
	color: #FFF;
}


.main-content {
	padding: 16px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}
