<mat-sidenav-container class="main-container">
	<!-- Sidebar -->
	<mat-sidenav #sidenav class="sidenav mat-elevation-z12" mode="side" opened="false" role="navigation">
		<div class="title-container mat-elevation-z2">
			<h1>Title</h1>
		</div>

		<mat-list>
			<mat-list-item *ngFor="let item of items; let i = index">
				<a mat-button [routerLink]="['/' + item.label]" routerLinkActive="active">
					<mat-icon>{{ item.icon }}</mat-icon>
					<span>{{ item.label }}</span>
				</a>
			</mat-list-item>
		</mat-list>

		<span class="separator"></span>

		<button mat-button>
			<mat-icon>settings</mat-icon>
			<span>Paramètres</span>
		</button>
	</mat-sidenav>

	<!-- Content -->
	<mat-sidenav-content role="main">
		<!-- Header -->
		<app-header [sidenav]="sidenav"></app-header>
		<!-- Actual content -->
		<div class="main-content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
