@import '~sass/variables';

.table-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.table-row:hover {
	background-color: $grey;
	cursor: pointer;
}

.mat-table {
	overflow: auto;
	max-height: 512px;
}


.mat-column-select {
	overflow: initial;
}
